<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addMovie" method="post" enctype="multipart/form-data">
        <input type="file" name="poster">
        <label for="">Title</label>
        <input type="text" name="title">
        <label for="">Dimentions</label>
        <input type="text" name="dimentions">
        <label for="">Languages</label>
        <input type="text" name="languages">
        <label for="">Duration</label>
        <input type="text" name="duration">
        <label for="">Genere</label>
        <input type="text" name="genere">
        <label for="">Date</label>
        <input type="date" name="date">
        <button type="submit">Add movie</button>
    </form>
</body>
</html>