<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
      <div class="brand-logo d-flex align-items-center justify-content-between">
        <a href="/dashboard" class="text-nowrap logo-img">
          <img src="/images/logos/logo-light.svg" alt="" />
        </a>
        <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
          <i class="ti ti-x fs-8"></i>
        </div>
      </div>
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
        <ul id="sidebarnav">
          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
            <span class="hide-menu">Home</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/dashboard" aria-expanded="false">
              <span>
                <iconify-icon icon="solar:home-smile-bold-duotone" class="fs-6"></iconify-icon>
              </span>
              <span class="hide-menu">Dashboard</span>
            </a>
          </li>
          <li class="nav-small-cap">
            <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-6" class="fs-6"></iconify-icon>
            <span class="hide-menu">Category</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/category/addCat" aria-expanded="false">
              <span>
                <iconify-icon icon="solar:login-3-bold-duotone" class="fs-6"></iconify-icon>
              </span>
              <span class="hide-menu">Add Cateogry</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/category/viewCat" aria-expanded="false">
              <span>
                <iconify-icon icon="solar:user-plus-rounded-bold-duotone" class="fs-6"></iconify-icon>
              </span>
              <span class="hide-menu">View Category</span>
            </a>
          </li>
          <li class="nav-small-cap">
            <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-6" class="fs-6"></iconify-icon>
            <span class="hide-menu">Sub-Category</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/subcategory/addSubCat" aria-expanded="false">
              <span>
                <iconify-icon icon="solar:login-3-bold-duotone" class="fs-6"></iconify-icon>
              </span>
              <span class="hide-menu">Add Sub-Cateogry</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/subcategory/viewSubCat" aria-expanded="false">
              <span>
                <iconify-icon icon="solar:user-plus-rounded-bold-duotone" class="fs-6"></iconify-icon>
              </span>
              <span class="hide-menu">View Sub-Category</span>
            </a>
          </li>
          <li class="nav-small-cap">
            <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-6" class="fs-6"></iconify-icon>
            <span class="hide-menu">Product</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/product/addProduct" aria-expanded="false">
              <span>
                <iconify-icon icon="solar:login-3-bold-duotone" class="fs-6"></iconify-icon>
              </span>
              <span class="hide-menu">Add Product</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/product/viewProduct" aria-expanded="false">
              <span>
                <iconify-icon icon="solar:user-plus-rounded-bold-duotone" class="fs-6"></iconify-icon>
              </span>
              <span class="hide-menu">View Product</span>
            </a>
          </li>
        </ul>

      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>