<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Template</title>
</head>
<body>
    <form action="/addData" method="post">
        <input type="text" name="id">
        <input type="text" name="name">
        <input type="text" name="subject">
        <input type="text" name="city">
        <button type="submit">Add</button>
    </form>
    <table border="1" width="70%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Subject</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            <% students.map((el, i) => { %>
                <tr>
                    <td><%= el.id %></td>
                    <td><%= el.name %></td>
                    <td><%= el.subject %></td>
                    <td><%= el.city %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>